#Dependencies
/node_modules

#Compile output
.scannerwork
screenshots/*
*.log
out/
reports/*
target/*
*.zip
logs/*
browserstack.err

#Enviroment variables
.env
.npmrc

# System Files
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
/target
/build
/.gradle
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Linter local
.eslintignore
.eslintrc.json
eslint.config.mjs
.vscode/settings.json
